.plantcard{
    color: white;
    border-radius: 20px;
    margin: 8%;
    background-color: #212130;
}
.page{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #0f142e;
}
.cardinner{
    margin: 2%;
}
.carimg2{
    width: 100%;
    object-fit: cover;
    height: 400px;
}