.plantcard{
    padding-bottom: 20px;
    color: white;
    border-radius: 20px;
    margin: 8%;
    background-color: #212130;
}
.page{
    width: 100%;
    position: absolute;
    background-color: #0f142e;
}
.cardinner{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2%;
}
.specific{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.carimg2{
    width: 100%;
    object-fit: cover;
    height: 400px;
}
.sub{
   background-color:#393941;
   border-radius: 15px;
   padding: 10px;
   font-size: 14px;
}
.more{
    flex-direction: column;
    display: flex;
    gap: 1.5rem;
}