.footer{
    padding: 15px;
    width: 100%;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    background: bisque;
    display: flex
;
    flex-direction: column;
}
.footproduct, .footlinks, .footcontact{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.footlinks a{
    color: black;
}
 .footbot{
    justify-content: center;
flex-direction: row;
    display: flex;
    width: 100%;
}
.footbot{
align-items: center;
    flex-direction: column;
    display: flex
;
    justify-content: center;
}
.foothead>ul>li{
    display: flex;
    align-items: center;
}

.foothead{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foottop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
@media screen and (max-width:550px)
{
    .foottop{
            font-size: 10px;
        grid-template-columns: 1fr 1fr;
    }
    .footbot{
        font-size: 15px;
    }
}

@media screen and (max-width:380px)
{
    .foottop{
        grid-template-columns: 1fr;
    }
}
.foothead h4{
        font-family: "Caveat", cursive;
  font-optical-sizing: auto;
}