.footer{
    padding: 15px;
    width: 100%;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    background: bisque;
    display: flex
;
    flex-direction: column;
}
.footproduct, .footlinks, .footcontact{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 30%;
}
.footlinks a{
    color: black;
}
.foottop, .footbot{
    justify-content: center;
flex-direction: row;
    display: flex;
    width: 100%;
}
.footbot{
align-items: center;
    flex-direction: column;
    display: flex
;
    justify-content: center;
}
.foothead>ul>li{
    display: flex;
    align-items: center;
}
